<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= pageName %></title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<h1><%= pageName %></h1>
<button><a href="/register">register</a></button>

<button><a href="/login">login</a></button>

<button><a href="/signup">signup</a></button>

<button><a href="/overview">overview</a></button>

