<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%= pageName %></title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<h1><%= pageName %></h1>


<label for="adminPanel"><h3>adminPanel</h3></label>
<div name="adminPanel">
  <a href="/register" class="button-link">register</a>
  <a href="/login" class="button-link">login</a>
  <a href="/signup" class="button-link">signup</a>
  <a href="/overview" class="button-link">overview</a>
  <button id="myBtn">Print user</button>
</div>










