<%- include("header") -%>


<h1>WELCOME TO reptMONITORING</h1>

<button><a href="/register">register</a></button>

<button><a href="/login">login</a></button>

<button><a href="/signup">signup</a></button>



<%- include("footer") -%>