<%- include("header") -%>


<h1>WELCOME TO reptMONITORING</h1>

<h2>it was made with love</h2>

<h4>Are you new here?</h4>
<h4>Consider Signing up <a href="/signup">HERE</a></h4>

<h4>Already have an account?</h4>
<h4><a href="/login">LOGIN</a></h4>






<%- include("footer") -%>