<%- include("header") -%>

<%= loginStatus %>

<form action="/login" method="post">
    <label for="userName">User Name</label>
    <input type="text" name="userName">


    <label for="psw">password</label>
    <input type="password" name="psw">

    <button type="submit">Log in</button>
</form>


<%- include("footer") -%>