<%- include("header") -%>


<label for="userName">User Name</label>
<input type="text" name="userName">


<label for="password">password</label>
<input type="password" name="password">







<%- include("footer") -%>