<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="style.css">

    <title>overview</title>
</head>
<body>

    <div class="container">
        <div><button class="nonCol">animals</button></div>
        <div><button id="1" class="collapsible">feedings <img id="arrow1" src="/images/caret-down-fill.svg"></button>
            <div class="content">
                <button class="nonCol">needs food</button>
                <button class="nonCol">feeding overview</button>
            </div>
        </div>
        <div><button id="2" class="collapsible">breedings <img id="arrow2" src="/images/caret-down-fill.svg"></button>
            <div class="content">
                <button class="nonCol">breeding</button>
                <button class="nonCol">cluches</button>
            </div>
        </div>
        <div><button id="3" class="collapsible">feeders stock <img id="arrow3" src="/images/caret-down-fill.svg"></button>
            <div class="content">
                <button class="nonCol">add feeders</button>
                <button class="nonCol">stock overview</button>
            </div>
        </div>
        <div><button id="4" class="collapsible">facility / space control <img id="arrow4" src="/images/caret-down-fill.svg"></button>
            <div class="content">
                <button class="nonCol">create facility</button>
                <button class="nonCol">manage facility</button>
                <button class="nonCol">facility overview</button>
            </div>
        </div>
        
    </div>
