body{
  display: grid;
  width: 100%hw;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90%vh;
  column-gap: 0px;
  row-gap: 0px;
} 
.containerM{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.heading{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-end: 1;
}
.navBarContainer{
    background-color: aqua;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin: 10;
    padding: 10;
    left: 0;
    height: 100%;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: span 2;
}
.menuButtons{
  padding: 18px;
  margin: 10%;
  border: solid 1px black;
  background-color: aqua;
  font-size: 15px;
  outline: none;
  text-align: left;
  width: 80%;
}

.nonCol{
    
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #d14747;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
}
