#registerFormGrid{
    display: grid;
    grid-template-columns: 250px 300px;
    margin: 20px;
    grid-row: auto;
}
.inputBox{
    grid-column-start: 1;
    margin-bottom: 20px;
}
.hint{
opacity: 70%;}

.but{
    width: fit-content;
    margin-top: 20px;
}
.form{
    display: flex;
    justify-content: center;
}


.heading{
    background-color: orange;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }
  .admin{
    background-color: black;
  }
  .active{
    margin-left: 10px;
  }
  .adPan{
    background-color: aliceblue;
  }

  #page-container {
    position: relative;
    min-height: 85vh;
    background-color: white;
  }

  body{
    background-color: #454545;
  }
  #header{
    background-color: #454545;
    position: sticky;
    top: 0;
  }
  #footer{
    background-color: #454545;
    color: white;
    padding: 10px;
    text-align: center;
    bottom:0;
  }
  .kati{
    color: aliceblue;
  }
  .login{
    justify-content: center;
  }
  .form-floating{
    margin-bottom: 10px;
  }
  .btn{
    margin-right: 10px;
  }
  .cont{
    margin-left: 20px;
    margin-right: 20px;
  }